html {
    height: 100%;
}

body {
    height: 90%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #0B0B0B;
    /* Standard syntax */
}

h1,
h2,
h3,
h4,
h5,
p,
label,
.fa {
    color: white;
}

hr {
    border-top: 3px double #fff;
}